python-dotenv==1.1.1
langchain==0.3.27
langgraph==0.6.5
langchain-google-genai==2.1.10
tqdm==4.67.1
pandas==2.2.2
func-timeout==4.3.5
nbimporter==0.3.4
nbformat==5.10.4
z3-solver==4.15.3.0
transformers==4.55.2
accelerate==1.10.0
trl==0.19.1
peft==0.17.0
datasets
bitsandbytes==0.47.0
unsloth==2025.8.8
vllm==0.10.1
jedi==0.16
google-genai==1.31.0